.bold-font-headline-events {
    font-weight: 700;
    text-align: center;
}

.event-card {
    background: #fff;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    margin: 2rem auto;
    border-radius: 1rem 0px 1rem 0px;
    width: 80%;
}

.event-date {
    color: #fff;
    background: var(--primary);
    border: 3px solid var(--primary-light);
    border-radius: 1rem 0px 1rem 0px;
    padding: 1rem;
    max-height: 10px;
    width: 100px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.event-text {
    max-width: 90%;
    margin: auto;
}

@media (min-width: 56.25em) {
    .event-card {
        min-width: 700px;
        max-width: 50%;
        padding: 1rem;
        margin: 2rem auto;
        display: flex;
        flex-direction: row;
    }

    .event-date {
        min-width: 100px;
        min-height: 30px;
    }

    .h2-event {
        text-align: left;
        padding: 0rem 0rem 0rem 1.5rem;
        align-content: start;
    }
}