.exhibition-of-the-month {
    background: #000;
    color: #fff;
    max-width: 100vw;
    min-width: 300px;
    align-content: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.exhibition-of-the-month-img {
    border: 3px solid #FCC167;
    border-radius: 1rem 0px 1rem 0px;
    max-height: 175px;
    max-width: 90%;
}

.exhibition-of-the-month-text {
    display: flex;
    padding: 0rem 2rem 1rem 2rem;
    max-width: 550px;
    margin: 0 auto;
}

@media (min-width: 900px) {
    .exhibition-of-the-month {
        display: flex;
        flex-direction: row;
        max-width: 100vw;
    }

    .monthly-h2-image {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        width: 60%;
        padding: 1rem;
    }

    .exhibition-of-the-month-img-deskt {
        display: flex;
        justify-content: center;
    }

    .exhibition-of-the-month-img {
        border: 3px solid #FCC167;
        min-width: 367px;
        max-height: 354px;
    }

    .exhibition-of-the-month-info {
        max-width: 40%;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}