.form-input-explore {
    border: 1px solid var(--shadow);
}

.join-newsletter-section {
    color: #fff;
    background: var(--newsletter-color);
    padding: 1rem;
}

.join-science-club-section {
    color: #fff;
    background:  var(--science-club-color);
    padding: 1rem;
}

.img-mammoth,
.img-sicence-club {
    width: 300px;
    height: 150px;
    border-radius: 8px 250px 250px 8px;
}

.img-sicence-club {
    border-radius: 250px 8px 8px 250px;
}

.copy {
    width: 85%;
    margin: 0 auto;
    max-width: 700px;
    padding-bottom: 1rem;
}

.explore-form {
    align-items: center;
}

@media (min-width: 56.25em) {
    .join-science-club-section,
    .join-newsletter-section {
        max-width: 60vw;
        margin: 0 auto;
        border-radius:
    }

    .join-science-club-section {
        border-radius: 250px 8px 8px 250px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .join-newsletter-section {
        border-radius: 8px 250px 250px 8px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .img-form {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        margin: 0 auto;
    }

    .img-form-science {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 0 auto;
    }

    .img-mammoth {
        padding-left: 1rem;
        height: 100%;
    }
}