.index-orange-infocard {
  background: #FAD59D;
  max-width: 80vw;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  border-radius: 0.5rem;
  font-weight: bold;
  padding-bottom: 0.5rem;
}

.orange-plan-visit-link {
  background: #FA9702;
  color: #000;
  font-size: 1rem;
  text-decoration: none;
  text-transform: uppercase;
  padding: 1rem 0rem 1rem 0rem;
  border-radius: 0.5rem 0.5rem 0rem 0rem;
  align-items: center;
  width: 80vw;
  min-width: 300px;
}

.index-hours,
.index-adress {
  display: flex;
  text-align: left;
  gap: 0.5rem;
  align-content: center;
}

.index-icon {
  width: 24px;
}

.exhibition-card-wrapper {
  width: 280px;
  border: 2px solid #FA9702;
  border-radius: 8px 8px 0px 0px;
  background-color: #fff;
  margin: 1em;
  box-shadow: 0px 4px 8px rgb(174, 173, 173);
}

.exhibition-card-img {
  border-radius: 8px 8px 0px 0px;
}

.exhibition-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.exhibition-card-text {
  padding: 0em 1em 0em 1em;
}

/* ---------- Carousel ------ */
.carousel-wrapper {
  min-height: 43rem;
  position: relative;
  width: 80vw;
  margin: 0 auto;
}

.carousel-item {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1.5em 3em;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  display: flex;
  align-items: flex-end;
}

.carousel-info {
  display: flex;
  flex-direction: column;
  background-color: hsla(0, 0%, 100%, 0.90);
  padding: 0rem 1em 1em 1em;
  max-height: 100%;
  overflow: hidden;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 12px;
}

.arrow-prev {
  left: -30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(135deg);
}

.arrow-next {
  right: -30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
}

.light {
  color: white;
}


[id^="item"] {
  display: none;
}

.item-1 {
  z-index: 2;
  opacity: 1;
  background: url('/images/mammoth.jpg');
  background-size: cover;
}

.item-2 {
  background: url('/images/thisisengineering-raeng-Te-unsplash.jpg');
  background-size: cover;
}

.item-3 {
  background: url('/images/VR-painting.jpg');
  background-size: cover;
}

*:target~.item-1 {
  opacity: 0;
}

#item-1:target~.item-1 {
  opacity: 1;
}

#item-2:target~.item-2,
#item-3:target~.item-3 {
  z-index: 3;
  opacity: 1;
}


/* ----------Media queries----------- */
@media (min-width: 56.25em) {

  .index-orange-infocard,
  .orange-plan-visit-link {
    max-width: 50vw;
  }

  .arrow,
  .light .arrow {
    background-size: 10px;
    background-position: 10px 50%;
  }

  .carousel-item {
    padding: 10px 20px;
    font-size: 14px;
  }
}