@import "_index.css";
@import "_exhibitions.css";
@import "_events.css";
@import "_visit.css";
@import "_involved.css";
@import "_explore.css";

:root {
    --primary: #910885;  /* lilla */
	--primary-light: #CF0CBE; /* lys- lilla */
	--secondary: #FA9702; /* oransje */
    --secondary-light: #FAD59D; /* lys-oransje */
    --secondary-medium: #FCC167;
    --tertiary: #0F90F2;   /*blå*/
    --tertiary-light: #CCE7FB; /*lys-blå*/
	--card-background: #ffffff; /* hvit */
	--body-background: #FDEDD6; /* lys sand */
    --nav-footer-background: #FDDCA9;
	--body-font-colour: #000000; /* svart */
    --footer-font-color: #480543;
	--body-font-family: "geologica"; /* geologica */
    --science-club-color: #8E5E3A;
    --science-club-color-light: #AF6A01;
    --newsletter-color: #393939;
	--shadow: rgb(174, 173, 173); /* shadow */
}

h1,
h2 {
    text-transform: uppercase;
    text-align: center;
}

h1 {
    font-size: 2rem;
}

h2,
h3,
h4 {
    line-height: 1.5rem;
    font-size: 1.25rem;
}

p {
    font-size: 1rem;
    line-height: 1.25rem;
    text-align: left;
}

a:hover {
    text-decoration: underline;
}

.buttons {
    border-radius: 0.5rem;
    padding: 0.8rem;
    text-decoration: none;
    font-weight: 500;
    margin: 0 auto;
    width: 80%;
    max-width: 760px;
    transition: transform 300ms ease;
    cursor: pointer;
}

.buttons:hover {
    transform: scale(1.1);
}

.button-orange {
    color: var(--body-font-colour);
    background-color: var(--secondary);
    border: 3px solid var(--secondary-medium);
}

.button-blackish {
    color: var(--newsletter-color);
    background: #fff;
    border: none;
    font-weight: 600;
    width: 200px;
}

.button-brown {
    color:  var(--science-club-color);
    background: #fff;
    border: none;
    font-weight: 600;
    width: 200px;
}

.button-blue {
    color: #fff;
    background: var(--tertiary);
    border: none;
}

.button-back-up-links {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.back-to-top {
    text-decoration: none;
    color: var(--body-font-colour);
    align-content: center;
    padding: 1rem;
}

/* ----Navigation----  */
nav {
    background: var(--nav-footer-background);
    position: absolute;
    justify-content: left;
    top: 4rem;
    width: 100%;
}

nav,
#menu-checkbox {
    display: none;
    color: var(--primary);
}

#menu-checkbox:checked~nav {
    display: block;
}

nav a {
    text-transform: uppercase;
    color: var(--primary);
    display: flex;
    justify-content: flex-end;
    text-decoration: none;
    padding-bottom: 0.3rem;
    padding-right: 0.5rem;
    margin: 1rem;
}

nav a:hover,
footer a:hover {
    text-decoration: underline;
    text-shadow: 0 0 1px;
    color: var(--primary);
}

.active {
    text-decoration: underline;
    text-shadow: 0 0 1px;
    color: var(--primary);
}

header {
    position: relative;
    background: var(--nav-footer-background);
    color: var(--primary);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.hamburger-icon,
.logo-mobile {
    margin: 0.5rem;
    padding-right: 0.5rem;
}

.logo-mobile {
    padding-left: 1rem;
}

.hexagon-img {
    max-width: 100%;
    display: flex;
    justify-content: center;
    border: var(--secondary) solid 3px;
    border-radius: 10px;
}

.hexagon-img-index {
    max-width: 95vw;
    max-height: 650px;
    display: flex;
    justify-content: center;
}

.hexagon-figure {
    display: flex;
    max-width: 80vw;
    justify-content: center;
    padding-top: 1rem;
    margin: 0 auto;
}

body {
    margin: 0 auto;
    font-family: var(--body-font-family);
    text-align: center;
    background-color: var(--body-background);
    display: grid;
    grid-gap: 1rem;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

footer {
    background-color: var(--nav-footer-background);
    color: var(--footer-font-color);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    text-align: left;
    font-size: 1rem;
}

footer a {
    text-decoration: none;
    color: var(--footer-font-color);
    padding-top: 0.98rem;
    padding-bottom: 0.98rem;
}

.footer-headline {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1rem;
    line-height: 0.5rem;
}

@media (min-width: 56.25em) {
    nav {
        display: inline-flex;
        position: static;
        justify-content: flex-end;
    }

    .hamburger-icon {
        display: none;
    }

    nav a {
        padding-right: 1rem;
    }

    .hexagon-img,
    .hexagon-img-index
     {
        max-height: 70vh;
    }

    footer {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        flex-wrap: wrap;
        justify-content: space-around;
        background: var(--nav-footer-background);
        padding: 0.5rem;
    }
}